html,
body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.main1{
    margin: 0;
    padding: 0;
}

.main1 img{
    width: 100%;
    /* position: fixed; */
    height: 100vh;
    /* background-size: cover; */
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: transparent;
    padding: 30px;
    overflow: hidden;
    height: 100%; 
}

h1{
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    padding-left: 50px;
    font-size: 25px;
}

#logo{
    color: aquamarine;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 30px;
    font-size: 18px;
}   

ul li {
    display: inline;
    margin: 0 15px; 
}

ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.hero h1{
    text-align: center;
    padding-top: 120px;
    font-size: 2.5rem
}

.our{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 25%;
}

.our h1{
    color: black;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .our {
        margin-top: 5%; /* Adjust the percentage for smaller screens */
    }
}
